<div style="position: fixed;" id="nav">
  <div>
  <nav class="navbar navbar-custom">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> <i class="fa fa-bars"></i> </button>
        <a class="navbar-brand page-scroll" href="#page-top">Nisarg Desai</a> </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
          <li class="hidden"> <a href="#page-top"></a> </li>
          <li> <a class="page-scroll" href="#about">About</a> </li>
          <li> <a class="page-scroll" href="#skills">Skills</a> </li>
          <li> <a class="page-scroll" href="#resume">Resume</a> </li>
          <li> <a class="page-scroll" href="#contact">Contact</a> </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
</div>
<div id="about">
  <div class="container">
    <div class="section-title text-center center">
      <h2>About Me</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-12 text-center"><img src="img/about.jpg" class="img-responsive"></div>
      <div class="col-md-8 col-md-offset-2">
        <div class="about-text">
          <p></p>
          <p></p>
          <p class="text-center"><a class="btn btn-primary" href="https://dl.dropboxusercontent.com/content_link/UoDn6KP7pAhAnMdxnFyrdf2dQqJfrzUQLTas8VmMzARLeQmFU7HaWENxPSflHqJN/file?dl=1"><i class="fa fa-download"></i> Download Resume</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="skills" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Skills</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="80"> <span class="percent">80</span> </span>
        <h4>HTML5/CSS3</h4>
      </div>
      <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="80"> <span class="percent">80</span> </span>
        <h4>SQL</h4>
      </div>
      <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="75"> <span class="percent">75</span> </span>
        <h4>Java</h4>
      </div>
      <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="70"> <span class="percent">70</span> </span>
        <h4>Ruby/Ruby on Rails</h4>
      </div>
      <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="60"> <span class="percent">60</span> </span>
        <h4>AngularJS</h4>
      </div>
      <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="50"> <span class="percent">50</span> </span>
        <h4>Javascript/JSP</h4>
      </div>
    </div>
  </div>
</div>
<div id="resume" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Projects</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <h4>Jun <br>
                -<br>2016 </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                
                <h4 class="subheading">NearMe Web App</h4>
              </div>
              <div class="timeline-body">
                <p>	It is an AngularJs app for location based service using third party directive(leaflet) for displaying map.
	The app displays interesting places on a map using Wikipedia API from JSON data.
	When a map marker is clicked, a popup is displayed with link for more information on that place.
	<b>Technology used: AngularJS, leaflet directive, Wikipedia Geodata API</b>
</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Jun <br>
                -<br>2016 </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                
                <h4 class="subheading">Hospital Admission Information System</h4>
              </div>
              <div class="timeline-body">
                <p>		A Java web application which gives useful information on the hospital characteristics of admissions of other patients with similar demographics with patient of interest.
	Recommends hospitals based on the length of stay and total charges.
                  <b>Technologies used: J2EE, Servlets, JSP, JSTL, MySQL, JavaScript, jQuery, Big Faceless Java Graph Library</b></p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <h4>Mar <br>
                -<br>
                2016</h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                
                <h4 class="subheading">Book Management System</h4>
              </div>
              <div class="timeline-body">
                <p>	A Content Management System to perform library transactions for issuing the books.
	It has functionalities to accomplish all the CRUD operations for the system.
	<b>Technologies used: HTML, CSS, JavaScript, Ruby on Rails, PostgreSql</b>
</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Nov <br>
                -<br>2015</h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                
                <h4 class="subheading">Aircraft Landing Simulation System</h4>
              </div>
              <div class="timeline-body">
                <p>		Performed requirement analysis and developed test cases for coverage.
	White Box Test techniques and MC/DC coverage were used to achieve full coverage.
	<b>Technologies used: JUNIT, Jacoco, Blackbox testing, Jframe
</b>
</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section-title center">
      <h2>Education</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          
          <!-- Education Section-->
          
          <li>
            <div class="timeline-image">
              <h4>Aug 2014 <br>
                - <br>
                May 2016 </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>University of Texas at Arlington</h4>
                <h4 class="subheading">Master of Science in Computer Science</h4>
              </div>
              <div class="timeline-body">
                <p>GPA: 3.231/4 <br> Arlington, Texas</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Aug 2010 <br>
                - <br>
               May 2014 </h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Gujarat Technological University</h4>
                <h4 class="subheading">Bachelor Degree of Computer Engineering</h4>
              </div>
              <div class="timeline-body">
                <p>GPA: 7.44/10 <br> Ahmedabad, Gujarat, India</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<footer id="footer">
  <div class="social">
        <ul>
          <li><a href="#"><i class="fa fa-linkedin">LinkdIn</i></a></li>
        </ul>
      </div>
</footer>